@font-face {
    font-family: 'sleek';
    src: url('https://cdn.jsdelivr.net/gh/lete114/CDN2/zaxiang/sleek.woff2');
}
# Global font settings
# Don't modify the following settings unless you know how they work (非必要不要修改)
font:
  font-family: 'sleek' # 主题字体
  code-font: 'sleek' # 代码块字体
/*Lete个人博客颜色修改*/

#page-header #site_title {
    color: #80bdab;
}
/*页脚a标签字体颜色*/

#footer-wrap a {
    color: #00c4b6;
}
/*页脚自定义字段字体颜色*/

.footer_custom_text {
    color: #00c4b6;
}
/*头部文字颜色*/

#nav a {
    color: #f9f2f4;
}

/*文章透明*/

.layout_post>#post {
    background: rgba(255, 255, 255, .9);
}
/*移动端优化：去除归档、标签、最新文章、公告、、只保留网站统计*/

@media screen and (max-width: 800px) {
    #aside_content div:not(:last-child) {
        display: none;
        font-size: 13px;
    }
}
/* 鼠标图标 */

body {
    cursor: url(https://sea-3gkzomd90114852a-1302781314.tcloudbaseapp.com/Metro Modern for Windows/Arrow.png), auto;
}


/*a标签*/

a:hover {
    cursor: url(https://sea-3gkzomd90114852a-1302781314.tcloudbaseapp.com/Metro Modern for Windows/Help.png), auto;
}


/*按钮*/

button:hover {
    cursor: url(https://sea-3gkzomd90114852a-1302781314.tcloudbaseapp.com/Metro Modern for Windows/Arrow.png), auto;
}


/*i标签*/

i:hover {
    cursor: url(https://sea-3gkzomd90114852a-1302781314.tcloudbaseapp.com/Metro Modern for Windows/Arrow.png), auto;
}



/*页脚a标签*/

#footer-wrap a:hover {
    text-decoration: none;
    cursor: url(https://sea-3gkzomd90114852a-1302781314.tcloudbaseapp.com/Metro Modern for Windows/Arrow.png), auto;
}


/*分页器*/

#pagination .page-number:hover {
    cursor: url(https://sea-3gkzomd90114852a-1302781314.tcloudbaseapp.com/Metro Modern for Windows/Arrow.png), auto;
}


/*头部的导航栏*/

#nav .site-page:hover {
    cursor: url(https://sea-3gkzomd90114852a-1302781314.tcloudbaseapp.com/Metro Modern for Windows/Arrow.png), auto;
}
/* 滚动条 */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #b16209;
    background-image: -webkit-linear-gradient( 45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    border-radius: 2em;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-moz-selection {
    color: #fff;
    background-color: #e58a8a;
}
